[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
packages/**/*.*
/src/**/objd/**/*
/src/**/obj/**/*
/src/**/bin/**/*
/src/**/gen/**/*
/src/**/*.nuspec
/src/**/StyleCop.Cache
*.exe
*.dll
*.lib
*.pdb
*.wim
*.zip
*.gz
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide/
*.nupkg
**/packages/*
!**/packages/build/
appsettings.*.json